.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.left {
  width: 350px;
  background-color: #222d32;
  height: 100vh;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.right {
  width: calc(100% - 350px);
  background-color: #ecf0f5;
  padding: 30px;
  box-sizing: border-box;
}
.left * {
  color: #fff;
}
.leftNavItem {
  /* color: #db2723; */
  color: #fff;
  padding: 15px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.mainNavigationIndicator {
  background-color: #1a2226;
  text-transform: uppercase;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 20px;
}
.activeNavItem {
  background-color: black;
}
.personaContainer {
  margin-top: 10px;
  padding: 20px;
}
.leftNavFooter {
  position: absolute;
  bottom: 20px;
  color: #fff;
  padding: 20px 20px 20px 20px;
}
.header {
  font-size: 20px;
}
.parkingContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
}
.singleField {
  margin: 10px;
}
.recordDetails {
  margin-top: 30px;
  margin-left: 10px;
}
.recordTittle {
  font-size: 14px;
  font-style: italic;
}
.detailsWrapper {
  margin-top: 20px;
}
.shimmerWrapper {
  padding: 5px;
}
